body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;

    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
}

.info {
    text-align: center;

    position: absolute;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.link-bar {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#loader {
    margin-top: 20%;
}

.disclaimer {
    margin-top: 1em;
    color: gray;
}

#hint-text {
    position: absolute;
    /*right: 270px;*/
    width: 100%;
    top: 10px;
    text-align: center;
    font-weight: normal;
    color: #cccccc;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #cccccc;
}

.initially-hidden {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .hidden-phone {
        visibility: hidden;
    }
}
