
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>three.js black hole</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style>
            .container {
                margin-top: 5%;
                max-width: 850px;
                font-size: 12pt;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {{content}}
        </div>
    </body>
</html>
