
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>three.js black hole</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142197325-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-142197325-1');
        </script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style>
            .container {
                margin-top: 5%;
                max-width: 850px;
                font-size: 12pt;
            }

            h1 { margin-bottom: 0.7em; }
        </style>
    </head>
    <body>
        <div class="container">
            {{content}}
        </div>
    </body>
</html>
